xml-resources/web-service-references/operaciones/wsdl/localhost_8080/webSOAP/operaciones.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="operaciones">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/webSOAP/operaciones?xsd=1"/>
</xsd:schema>
</types>
<message name="Login">
<part name="parameters" element="tns:Login"/>
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse"/>
</message>
<message name="retiro">
<part name="parameters" element="tns:retiro"/>
</message>
<message name="retiroResponse">
<part name="parameters" element="tns:retiroResponse"/>
</message>
<message name="registro">
<part name="parameters" element="tns:registro"/>
</message>
<message name="registroResponse">
<part name="parameters" element="tns:registroResponse"/>
</message>
<message name="deposito">
<part name="parameters" element="tns:deposito"/>
</message>
<message name="depositoResponse">
<part name="parameters" element="tns:depositoResponse"/>
</message>
<message name="devolverSaldo">
<part name="parameters" element="tns:devolverSaldo"/>
</message>
<message name="devolverSaldoResponse">
<part name="parameters" element="tns:devolverSaldoResponse"/>
</message>
<portType name="operaciones">
<operation name="Login">
<input wsam:Action="http://ws/operaciones/LoginRequest" message="tns:Login"/>
<output wsam:Action="http://ws/operaciones/LoginResponse" message="tns:LoginResponse"/>
</operation>
<operation name="retiro">
<input wsam:Action="http://ws/operaciones/retiroRequest" message="tns:retiro"/>
<output wsam:Action="http://ws/operaciones/retiroResponse" message="tns:retiroResponse"/>
</operation>
<operation name="registro">
<input wsam:Action="http://ws/operaciones/registroRequest" message="tns:registro"/>
<output wsam:Action="http://ws/operaciones/registroResponse" message="tns:registroResponse"/>
</operation>
<operation name="deposito">
<input wsam:Action="http://ws/operaciones/depositoRequest" message="tns:deposito"/>
<output wsam:Action="http://ws/operaciones/depositoResponse" message="tns:depositoResponse"/>
</operation>
<operation name="devolverSaldo">
<input wsam:Action="http://ws/operaciones/devolverSaldoRequest" message="tns:devolverSaldo"/>
<output wsam:Action="http://ws/operaciones/devolverSaldoResponse" message="tns:devolverSaldoResponse"/>
</operation>
</portType>
<binding name="operacionesPortBinding" type="tns:operaciones">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retiro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deposito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="devolverSaldo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="operaciones">
<port name="operacionesPort" binding="tns:operacionesPortBinding">
<soap:address location="http://localhost:8080/webSOAP/operaciones"/>
</port>
</service>
</definitions>