src/META-INF/wsdl/localhost_8080/webSOAP/operaciones.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="Login" type="tns:Login"/>

<xs:element name="LoginResponse" type="tns:LoginResponse"/>

<xs:element name="deposito" type="tns:deposito"/>

<xs:element name="depositoResponse" type="tns:depositoResponse"/>

<xs:element name="devolverSaldo" type="tns:devolverSaldo"/>

<xs:element name="devolverSaldoResponse" type="tns:devolverSaldoResponse"/>

<xs:element name="registro" type="tns:registro"/>

<xs:element name="registroResponse" type="tns:registroResponse"/>

<xs:element name="retiro" type="tns:retiro"/>

<xs:element name="retiroResponse" type="tns:retiroResponse"/>

<xs:complexType name="registro">
<xs:sequence>
<xs:element name="Usuario" type="xs:string" minOccurs="0"/>
<xs:element name="Contra" type="xs:string" minOccurs="0"/>
<xs:element name="RepContra" type="xs:string" minOccurs="0"/>
<xs:element name="Saldo" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registroResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Login">
<xs:sequence>
<xs:element name="Usuario" type="xs:string" minOccurs="0"/>
<xs:element name="Password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retiro">
<xs:sequence>
<xs:element name="Usuario" type="xs:string" minOccurs="0"/>
<xs:element name="retiro" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retiroResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deposito">
<xs:sequence>
<xs:element name="Usuario" type="xs:string" minOccurs="0"/>
<xs:element name="deposito" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="depositoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="devolverSaldo">
<xs:sequence>
<xs:element name="Usuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="devolverSaldoResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>